<!-- Acerca de mí
				============================================= -->
<div id="acerca-de-mi" class="section page-section bg-transparent pt-0 mb-0">
  <div class="container">
    <div class="mb-5 dark">
      <span class="display-4 fw-bold gradient-underline font-primary">
        About me
      </span>
    </div>

    <div class="clear"></div>

    <div class="row justify-content-around dark mb-4">
      <div class="col-lg-6 col-md-4 col-sm-12">
        <h4 class="font-body ls-1 text-uppercase">At Work</h4>
        <p style="text-align: justify">
          I am passionate about designing digital solutions for startups,
          brands, and entrepreneurs with great projects. I have experience in
          UX/UI design, web development, and multimedia design.
        </p>
        <p style="text-align: justify">
          As a developer, my main objective is to understand my clients'
          problems and goals and devise a strategy together. From there, I
          design visual interfaces that attract users and provide them with a
          unique experience.
        </p>
        <p style="text-align: justify">
          I currently work full-time as a developer, and my main task is to
          bring innovation to processes and automate tasks.<br />
          <em>
            I am a sociable person who enjoys working in teams, learning from
            others, and sharing knowledge.</em
          >
        </p>
      </div>

      <div class="col-lg-5 col-md-4 col-sm-12">
        <div class="about-img position-relative">
          <div class="my-3 my-lg-0 top-image">
            <div class="gradient-bg">
              <img
                src="/images/tonga_job_1.jpg"
                alt="Gastón Gracis posing for the ID photo"
                title="Gastón Gracis posing for the ID photo"
              />
            </div>
          </div>
          <div data-0="top: 160px" data-end="top: 120px" class="bottom-image">
            <div class="gradient-bg">
              <img
                src="/images/tonga_job_2.jpg"
                alt="Gastón Gracis, in a training session at work"
                title="Gastón Gracis, in a training session at work"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <div class="row justify-content-around dark mb-4">
      <div class="col-lg-5 col-md-4 col-sm-12">
        <div class="about-img position-relative">
          <div class="my-3 my-lg-0 top-image">
            <div class="gradient-bg">
              <img
                src="/images/tonga_1.jpg"
                alt="Tónga drinking mate in the south of Argentina"
                title="Tónga drinking mate in the south of Argentina"
              />
            </div>
          </div>
          <div data-0="top: 160px" data-end="top: 120px" class="bottom-image">
            <div class="gradient-bg">
              <img
                src="/images/tonga_2.jpg"
                alt="Tónga looking at Lake Futalaufquen"
                title="Tónga looking at Lake Futalaufquen"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12 mt-4">
        <h4 class="font-body ls-1 text-uppercase">At Life</h4>
        <p style="text-align: justify">
          Known by my friends as the person they call when something doesn't
          work, I am always willing to lend a hand. I love technology and
          innovation, which is why I keep up to date with the latest trends in
          the world of web design and development.
        </p>
        <p style="text-align: justify">
          <em>
            I am curious by nature and enjoy traveling and getting to know new
            cultures.</em
          ><br />
          Since 2019, I have been part of the leadership of my local community
          church and participate in an interdisciplinary team of professionals
          that supports the professional and personal growth of community
          members. I give talks on technology and design. As I am convinced that
          we never stop learning and growing, I help others to enhance their
          skills and achieve their goals while continuing to grow in my own. As
          a hobby, I am developing a CNC machine project with the ambition of
          creating a low-cost tool that generates job opportunities.
        </p>
      </div>
      <div style="height: 100px"></div>
    </div>
  </div>
</div>
<!-- #Acerca de mí fin -->
