<!-- About me
				============================================= -->
<div id="about-me" class="section page-section bg-transparent pt-0 mb-0 pb-0">
  <div class="container">
    <div class="mb-5 dark">
      <span class="display-4 fw-bold gradient-underline font-primary">
        About me
      </span>
    </div>

    <div class="clear"></div>

    <div class="row justify-content-around dark mb-4">
      <div class="col-lg-6 col-md-4 col-sm-12">
        <h4 class="font-body ls-1 text-uppercase">At Work</h4>
        <p style="text-align: justify">
          By day, I'm a code-wielding wizard who transforms coffee into elegant
          solutions. My true superpower? Debugging code while my cat
          strategically places herself on my keyboard, adding random semicolons
          to my JavaScript.
        </p>
        <p style="text-align: justify">
          When I'm not crafting pixel-perfect designs or wrestling with CSS,
          you'll find me explaining to my cat why we can't refactor the codebase
          just because she doesn't like the color scheme. She usually wins those
          arguments.
        </p>
        <p style="text-align: justify">
          I believe in clean code, responsive design, and keeping a jar of
          pickles at my desk for those late-night debugging sessions. They say
          rubber duck debugging works, but I prefer pickle jar debugging.
        </p>
        <p style="text-align: justify">
          <em>
            My development philosophy? If you can't explain your code to a cat,
            you probably need to simplify it.
          </em>
        </p>
      </div>

      <div class="col-lg-5 col-md-4 col-sm-12">
        <div class="about-img position-relative">
          <div class="my-3 my-lg-0 top-image">
            <div class="gradient-bg">
              <img
                src="/imgs/Dager03.jpg"
                alt="Dot Dager with his cat"
                title="Dot Dager with his cat"
              />
            </div>
          </div>
          <div class="bottom-image">
            <div class="gradient-bg">
              <img
                src="/imgs/Dager04.jpg"
                alt="Dot Dager with his beard"
                title="Dot Dager with his beard"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <div class="row justify-content-around dark mb-4">
      <div class="col-lg-5 col-md-4 col-sm-12">
        <div class="about-img position-relative">
          <div class="my-3 my-lg-0 top-image">
            <div class="gradient-bg">
              <img
                src="/imgs/Dager05.jpg"
                alt="Mariano in Christmas"
                title="Mariano in Christmas"
              />
            </div>
          </div>
          <div class="bottom-image">
            <div class="gradient-bg">
              <img
                src="/imgs/Dager02.jpg"
                alt="Mariano studying Visual Basic"
                title="Mariano studying Visual Basic"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12 mt-4">
        <h4 class="font-body ls-1 text-uppercase">At Life</h4>
        <p style="text-align: justify">
          When I'm not immersed in code, I'm either strumming my guitar (much to
          my cat's musical criticism) or pursuing my lifelong mission of finding
          the perfect pickle recipe. My cat judges both endeavors equally.
        </p>
        <p style="text-align: justify">
          <em>
            I'm a firm believer that life is better with cats, code, and crunchy
            pickles - not necessarily in that order.
          </em>
        </p>
        <p style="text-align: justify">
          Philosophy enthusiast by night, I often find myself in deep
          conversations about the meaning of life with my cat, who seems to have
          it all figured out. Between coding sessions, I'm either practicing new
          guitar riffs, fermenting various vegetables, or trying to convince my
          cat that the red dot isn't real. My latest project involves creating a
          cat-approved programming language, but we're still debating the
          syntax.
        </p>

        <p class="font-primary" style="font-size: 0.9rem">
          Thanks for reading this far! 😊 Since you made it this far....
          <br />Are you up for playing a Lumberjack?
          <a
            href="/lumberjack"
            data-bs-toggle="modal"
            data-bs-target="#lumberjackModal"
            class="gradient-underline"
          >
            I accept the challenge!
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Lumberjack -->
<div
  class="modal fade"
  id="lumberjackModal"
  tabindex="-1"
  aria-labelledby="lumberjackModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content bg-dark border-light">
      <div class="modal-header border-light">
        <h5 class="modal-title text-light" id="lumberjackModalLabel">
          Lumberjack!
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <iframe
          src="https://lumberjack-sigma.vercel.app/"
          width="100%"
          height="800"
          frameborder="0"
          style="min-height: 800px"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<!-- #Modal fin -->

<!-- #Acerca de mí fin -->
