<!-- Acerca de mí
				============================================= -->
<div
  id="acerca-de-mi"
  class="section page-section bg-transparent pt-0 mb-0 pb-0"
>
  <div class="container">
    <div class="mb-5 dark">
      <span class="display-4 fw-bold gradient-underline font-primary">
        Acerca de mí
      </span>
    </div>

    <div class="clear"></div>

    <div class="row justify-content-around dark mb-4">
      <div class="col-lg-6 col-md-4 col-sm-12">
        <h4 class="font-body ls-1 text-uppercase">En el trabajo</h4>
        <p style="text-align: justify">
          Me apasiona diseñar soluciones digitales para startups, marcas y
          emprendedores con proyectos geniales. Tengo experiencia en diseño
          UX/UI, desarrollo web y diseño multimedial.
        </p>
        <p style="text-align: justify">
          Como desarrollador mi principal objetivo es entender los problemas y
          metas de mis clientes e idear una estrategia en conjunto. A partir de
          allí, diseño interfaces visuales que atraigan a los usuarios y les
          brinden una experiencia única.
        </p>
        <p style="text-align: justify">
          Actualmente trabajo como desarrollador a tiempo completo y mi tarea
          fundamental consiste en aportar innovación a los procesos y
          automatizar tareas.
        </p>
        <p style="text-align: justify">
          <em
            >Soy una persona sociable que disfruta de trabajar en equipo,
            aprender de los demás y compartir conocimientos.</em
          >
        </p>
      </div>

      <div class="col-lg-5 col-md-4 col-sm-12">
        <div class="about-img position-relative">
          <div
            class="my-3 my-lg-0 top-image"
            data-0="top: -6em"
            data-end="top: 4em"
          >
            <div class="gradient-bg">
              <img
                src="/images/tonga_job_1.jpg"
                alt="Gastón Gracis, posando para la foto de legajo"
                title="Gastón Gracis, posando para la foto de legajo"
              />
            </div>
          </div>
          <div data-0="top: 20em" data-end="top: 4em" class="bottom-image">
            <div class="gradient-bg">
              <img
                src="/images/tonga_job_2.jpg"
                alt="Gastón Gracis, en una capacitación en el trabajo"
                title="Gastón Gracis, en una capacitación en el trabajo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <div class="row justify-content-around dark mb-4">
      <div class="col-lg-5 col-md-4 col-sm-12">
        <div class="about-img position-relative">
          <div
            class="my-3 my-lg-0 top-image"
            data-0="top: 12em"
            data-end="top: 2em"
          >
            <div class="gradient-bg">
              <img
                src="/images/tonga_1.jpg"
                alt="Tónga tomando mate en el sur"
                title="Tónga tomando mate en el sur"
              />
            </div>
          </div>
          <div class="bottom-image" data-0="top: -10em" data-end="top: 5em">
            <div class="gradient-bg">
              <img
                src="/images/tonga_2.jpg"
                alt="Tónga mirando el Lago Futalaufquen"
                title="Tónga mirando el Lago Futalaufquen"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12 mt-4">
        <h4 class="font-body ls-1 text-uppercase">En la vida</h4>
        <p style="text-align: justify">
          Conocido por mis amigos como la persona a la que llaman cuando algo no
          funciona, siempre estoy dispuesto a dar una mano. Me encanta la
          tecnología y la innovación, por eso me mantengo al tanto de las
          últimas tendencias en el mundo del diseño y desarrollo web.
        </p>
        <p style="text-align: justify">
          <em
            >Soy curioso por naturaleza y disfruto de viajar y conocer nuevas
            culturas.</em
          >
        </p>
        <p style="text-align: justify">
          Desde 2019, formo parte del liderazgo de la iglesia de mi comunidad
          local y participo en un equipo de profesionales interdisciplinario que
          acompaña el crecimiento profesional y personal de las personas de la
          comunidad. Imparto charlas sobre tecnología y diseño. Como estoy
          convencido de que nunca dejamos de aprender y crecer, ayudo a los
          demás a potenciar sus capacidades y alcanzar sus metas mientras sigo
          creciendo en las mías. Como hobby, estoy desarrollando un proyecto de
          máquinas CNC con la ambición de crear una herramienta de bajo costo
          que genere fuentes de trabajo.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- #Acerca de mí fin -->
