<!-- Acerca de m칤
				============================================= -->
<div
  id="acerca-de-mi"
  class="section page-section bg-transparent pt-0 mb-0 pb-0"
>
  <div class="container">
    <div class="mb-5 dark">
      <span class="display-4 fw-bold gradient-underline font-primary">
        Acerca de m칤
      </span>
    </div>

    <div class="clear"></div>

    <div class="row justify-content-around dark mb-4">
      <div class="col-lg-6 col-md-4 col-sm-12">
        <h4 class="font-body ls-1 text-uppercase">En el trabajo</h4>
        <p style="text-align: justify">
          Me apasiona dise침ar soluciones digitales para startups, marcas y
          emprendedores con proyectos geniales. Tengo experiencia en dise침o
          UX/UI, desarrollo web y dise침o multimedial.
        </p>
        <p style="text-align: justify">
          Como desarrollador mi principal objetivo es entender los problemas y
          metas de mis clientes e idear una estrategia en conjunto. A partir de
          all칤, dise침o interfaces visuales que atraigan a los usuarios y les
          brinden una experiencia 칰nica.
        </p>
        <p style="text-align: justify">
          Actualmente trabajo como desarrollador a tiempo completo y mi tarea
          fundamental consiste en aportar innovaci칩n a los procesos y
          automatizar tareas.
        </p>
        <p style="text-align: justify">
          <em
            >Soy una persona sociable que disfruta de trabajar en equipo,
            aprender de los dem치s y compartir conocimientos.</em
          >
        </p>
      </div>

      <div class="col-lg-5 col-md-4 col-sm-12">
        <div class="about-img position-relative">
          <div
            class="my-3 my-lg-0 top-image"
            data-0="top: -6em"
            data-end="top: 4em"
          >
            <div class="gradient-bg">
              <img
                src="/images/tonga_job_1.jpg"
                alt="Gast칩n Gracis, posando para la foto de legajo"
                title="Gast칩n Gracis, posando para la foto de legajo"
              />
            </div>
          </div>
          <div data-0="top: 20em" data-end="top: 4em" class="bottom-image">
            <div class="gradient-bg">
              <img
                src="/images/tonga_job_2.jpg"
                alt="Gast칩n Gracis, en una capacitaci칩n en el trabajo"
                title="Gast칩n Gracis, en una capacitaci칩n en el trabajo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <div class="row justify-content-around dark mb-4">
      <div class="col-lg-5 col-md-4 col-sm-12">
        <div class="about-img position-relative">
          <div
            class="my-3 my-lg-0 top-image"
            data-0="top: 12em"
            data-end="top: 2em"
          >
            <div class="gradient-bg">
              <img
                src="/images/tonga_1.jpg"
                alt="T칩nga tomando mate en el sur"
                title="T칩nga tomando mate en el sur"
              />
            </div>
          </div>
          <div class="bottom-image" data-0="top: -10em" data-end="top: 5em">
            <div class="gradient-bg">
              <img
                src="/images/tonga_2.jpg"
                alt="T칩nga mirando el Lago Futalaufquen"
                title="T칩nga mirando el Lago Futalaufquen"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12 mt-4">
        <h4 class="font-body ls-1 text-uppercase">En la vida</h4>
        <p style="text-align: justify">
          Conocido por mis amigos como la persona a la que llaman cuando algo no
          funciona, siempre estoy dispuesto a dar una mano. Me encanta la
          tecnolog칤a y la innovaci칩n, por eso me mantengo al tanto de las
          칰ltimas tendencias en el mundo del dise침o y desarrollo web.
        </p>
        <p style="text-align: justify">
          <em
            >Soy curioso por naturaleza y disfruto de viajar y conocer nuevas
            culturas.</em
          >
        </p>
        <p style="text-align: justify">
          Desde 2019, formo parte del liderazgo de la iglesia de mi comunidad
          local y participo en un equipo de profesionales interdisciplinario que
          acompa침a el crecimiento profesional y personal de las personas de la
          comunidad. Imparto charlas sobre tecnolog칤a y dise침o. Como estoy
          convencido de que nunca dejamos de aprender y crecer, ayudo a los
          dem치s a potenciar sus capacidades y alcanzar sus metas mientras sigo
          creciendo en las m칤as. Como hobby, estoy desarrollando un proyecto de
          m치quinas CNC con la ambici칩n de crear una herramienta de bajo costo
          que genere fuentes de trabajo.
        </p>
        <p class="font-primary" style="font-size: 0.9rem">
          춰Gracias por leer hasta aqu칤! 游땕 Ya que llegaste tan lejos...
          <br />쯊e animas a jugar un Ta-Te-Ti?

          <a
            href="/tateti"
            data-bs-toggle="modal"
            data-bs-target="#tatetiModal"
            class="gradient-underline"
          >
            춰Acepto el desaf칤o!
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Ta-Te-Ti -->
<div
  class="modal fade"
  id="tatetiModal"
  tabindex="-1"
  aria-labelledby="tatetiModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content bg-dark border-light">
      <div class="modal-header border-light">
        <h5 class="modal-title text-light" id="tatetiModalLabel">춰Ta-Te-Ti!</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <iframe
          src="/tateti"
          width="100%"
          height="600"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</div>
<!-- #Modal fin -->
<!-- #Acerca de m칤 fin -->
