<div
  id="form-contacto"
  class="col-lg-6 col-sm-12 d-flex align-items-lg-end flex-column parallax text-start text-lg-end mb-5 mb-lg-0"
  data-0="transform: translateY(0px)"
  data-700="transform: translateY(-50px)"
>
  <div class="form-widget" data-loader="button">
    <div class="row">
      <div class="col-12 form-group mb-4">
        <div class="heading-block mb-0 border-bottom-0">
          <h2>
            ¿Do you have an idea?<br />
            Let's talk
          </h2>
        </div>
      </div>
      <div class="col-12 form-group">
        <input
          type="text"
          name="nombre"
          id="nombre"
          class="form-control required form-control-md not-dark"
          value=""
          placeholder="Name*"
          required="required"
        />
      </div>
      <div class="col-12 form-group">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control required form-control-md not-dark"
          value=""
          placeholder="Email*"
          required="required"
        />
      </div>
      <div class="col-12 form-group">
        <textarea
          id="mensaje"
          name="mensaje"
          class="form-control form-control-md not-dark"
          placeholder="Write your comments here"
          required="required"
        ></textarea>
      </div>
      <div class="col-12 form-group mb-0">
        <div class="form-result" id="form-result"></div>
        <button
          type="submit"
          id="enviar-formulario"
          name="enviar-formulario"
          class="botonEnviarForm button text-uppercase fw-semibold button-xlarge button-white button-gradient m-0"
        >
          Let's get in touch
        </button>
      </div>
    </div>
  </div>
</div>
