<div id="form-contacto-celu">
  <a href="#" id="form-contacto-celu-cerrar">X</a>
  <div class="form-widget" data-loader="button">
    <div class="row">
      <div class="col-12 form-group mb-4">
        <div class="heading-block mb-0 border-bottom-0">
          <h4>Do you have an idea? Let's talk</h4>
        </div>
      </div>
      <div class="col-12 form-group">
        <input
          type="text"
          name="nombre-celu"
          id="nombre-celu"
          class="form-control required form-control-md not-dark"
          value=""
          placeholder="Name*"
        />
      </div>
      <div class="col-12 form-group">
        <input
          type="email"
          name="email-celu"
          id="email-celu"
          class="form-control required form-control-md not-dark"
          value=""
          placeholder="Email*"
        />
      </div>
      <div class="col-12 form-group">
        <textarea
          id="mensaje-celu"
          name="mensaje-celu"
          class="form-control form-control-md not-dark"
          placeholder="Write your comments here"
        ></textarea>
      </div>
      <div class="col-12 form-group">
        <div id="form-result-celu"></div>
        <a
          href="#"
          id="enviar-formulario-celu"
          class="button text-uppercase fw-semibold button-large button-white button-gradient m-0"
          >Let's get in touch</a
        >
      </div>
    </div>
  </div>
</div>
