<!--                                                                                                                                                                                                                            
                                       █╗                                                            
 ██████╗  █████╗ ███████╗████████╗ ██████╗ ███╗   ██╗     ██████╗ ██████╗  █████╗  ██████╗██╗███████╗
██╔════╝ ██╔══██╗██╔════╝╚══██╔══╝██╔═══██╗████╗  ██║    ██╔════╝ ██╔══██╗██╔══██╗██╔════╝██║██╔════╝
██║  ███╗███████║███████╗   ██║   ██║   ██║██╔██╗ ██║    ██║  ███╗██████╔╝███████║██║     ██║███████╗
██║   ██║██╔══██║╚════██║   ██║   ██║   ██║██║╚██╗██║    ██║   ██║██╔══██╗██╔══██║██║     ██║╚════██║
╚██████╔╝██║  ██║███████║   ██║   ╚██████╔╝██║ ╚████║    ╚██████╔╝██║  ██║██║  ██║╚██████╗██║███████║
 ╚═════╝ ╚═╝  ╚═╝╚══════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═══╝     ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝╚══════╝
                                                                                                     
                                                                   
 -->

<!DOCTYPE html>
<html dir="ltr" lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta
      name="description"
      content="Portfolio de Gastón Gracis, Desarrollador web full stack y diseñador multimedial"
    />
    <meta name="author" content="Gastón Gracis" />

    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Gastón Gracis - Desarrollador Web y Diseñador Multimedial"
    />
    <meta
      property="og:description"
      content="Soy un desarrollador web y diseñador multimedial especializado en la creación de soluciones digitales para startups, marcas y emprendedores. Mi objetivo principal es comprender los problemas y objetivos de mis clientes y colaborar con ellos para idear estrategias efectivas."
    />
    <meta
      property="og:image"
      content="https://www.gastongracis.dev/images/tonga_job_1.jpg"
    />
    <meta property="og:url" content="https://www.gastongracis.dev/" />
    <meta property="og:site_name" content="Gastón Gracis" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ggracis" />
    <meta name="twitter:title" content="Gastón Gracis" />
    <meta
      name="twitter:description"
      content="Soy un desarrollador web y diseñador multimedial especializado en la creación de soluciones digitales para startups, marcas y emprendedores."
    />
    <meta
      name="twitter:image"
      content="https://www.gastongracis.dev/images/tonga_job_1.jpg"
    />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>👨‍💻</text></svg>"
    />
    <link rel="canonical" href="https://gastongracis.dev" />

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Core Style -->
    <link rel="stylesheet" href="style.css" />

    <!-- Font Icons -->
    <link rel="stylesheet" href="css/font-icons.css" />

    <!-- Niche Demos -->
    <link rel="stylesheet" href="css/ggracis.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-GCH3SQXV2N"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-GCH3SQXV2N");
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Gastón Gracis",
        "url": "https://www.linkedin.com/in/gastongracis/",
        "sameAs": [
          "https://github.com/ggracis/",
          "https://www.instagram.com/gaston.gracis/",
          "https://api.whatsapp.com/send?phone=5491154184271",
          "https://t.me/Tonga87AR"
        ],
        "email": "gastongracis@gmail.com",
        "image": "https://www.gastongracis.dev/images/tonga_job_1.jpg",
        "jobTitle": [
          "Desarrollador Web",
          "Desarrollador Frontend",
          "Diseñador UX/UI",
          "Diseñador multimedial",
          "Analista SEO",
          "Desarrollador WordPress"
        ],
        "description": "Soy un desarrollador web y diseñador multimedial especializado en la creación de soluciones digitales para startups, marcas y emprendedores. Mi objetivo principal es comprender los problemas y objetivos de mis clientes y colaborar con ellos para idear estrategias efectivas. Utilizo herramientas como Git, ReactJS, HTML5, CSS3, JavaScript, PHP, Bootstrap y MySQL. También tengo experiencia en diseño UX/UI, InDesign e Illustrator.",
        "knowsLanguage": ["Español", "Inglés"],
        "mainEntityOfPage": {
          "@type": "WebSite",
          "@id": "https://www.gastongracis.dev/"
        }
      }
    </script>

    <!-- Document Title
	============================================= -->
    <title><%= pageTitle %></title>
  </head>
</html>
