<!-- Header
		============================================= -->
<header
  id="header"
  class="responsive-sticky-header transparent-header dark header-size-sm"
  data-sticky-shrink="true"
  data-mobile-sticky="true"
>
  <div id="header-wrap">
    <div class="container">
      <div class="header-row justify-content-lg-between">
        <div class="primary-menu-trigger">
          <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
            <span class="cnvs-hamburger-box"
              ><span class="cnvs-hamburger-inner"></span
            ></span>
          </button>
        </div>

        <!-- Primary Navigation
                          ============================================= -->
        <nav class="primary-menu">
          <ul
            class="menu-container one-page-menu"
            data-easing="easeInOutExpo"
            data-speed="1250"
            data-offset="160"
          >
            <li class="menu-item">
              <a
                class="menu-link ls-1 text-uppercase"
                href="#"
                data-href="#acerca-de-mi"
                ><div>Acerca de mi</div></a
              >
            </li>
            <li class="menu-item">
              <a
                class="menu-link ls-1 text-uppercase"
                href="#"
                data-href="#proyectos"
                ><div>Proyectos</div></a
              >
            </li>
            <li class="menu-item">
              <a
                class="menu-link ls-1 text-uppercase boton-contacto"
                href="#"
                data-href="#contacto"
                ><div>Contacto</div></a
              >
            </li>
          </ul>
        </nav>
        <!-- #primary-menu end -->

        <!-- Primary Navigation
                          ============================================= -->
        <nav class="primary-menu">
          <ul class="menu-container header-button">
            <li class="menu-item">
              <a
                href="/CV_GGracis.pdf"
                target="_blank"
                class="button ls-1 text-uppercase fw-semibold button-effect m-0"
                data-class="down-lg:px-1"
                >Mi CV</a
              >
            </li>
          </ul>
        </nav>
        <!-- #primary-menu end -->
      </div>
    </div>
  </div>
  <div class="header-wrap-clone"></div>
</header>
<!-- #header end -->
