<!DOCTYPE html>
<html dir="ltr" lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta
      name="description"
      content="Portfolio of Dot Dager, Content Creator and Programming Enthusiast"
    />
    <meta name="author" content="Dot Dager" />

    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Dot Dager - Content Creator & Programming Enthusiast"
    />
    <meta
      property="og:description"
      content="I'm a content creator who loves programming, cats, guitars, pickles, and philosophy. Join me in my journey through code and creativity."
    />
    <meta
      property="og:image"
      content="https://www.dotdager.com/imgs/Dager03.jpg"
    />
    <meta property="og:url" content="https://www.dotdager.com/" />
    <meta property="og:site_name" content="Dot Dager" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@dotdager" />
    <meta name="twitter:title" content="Dot Dager" />
    <meta
      name="twitter:description"
      content="Content creator who loves programming, cats, guitars, pickles, and philosophy."
    />
    <meta
      name="twitter:image"
      content="https://www.dotdager.com/imgs/Dager03.jpg"
    />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🎸</text></svg>"
    />
    <link rel="canonical" href="https://dotdager.com" />

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Core Style -->
    <link rel="stylesheet" href="style.css" />

    <!-- Font Icons -->
    <link rel="stylesheet" href="css/font-icons.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/ggracis.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Dot Dager",
        "url": "https://www.twitch.tv/dagerxiv",
        "sameAs": [
          "https://www.youtube.com/@DagerClips",
          "https://www.youtube.com/@ElAntroDeDager",
          "https://www.youtube.com/@DagerMusic",
          "https://www.twitch.tv/dagerxiv",
          "https://discord.gg/discord",
          "https://www.instagram.com/dager.32"
        ],
        "email": "contact@dotdager.com",
        "image": "https://www.dotdager.com/imgs/Dager03.jpg",
        "jobTitle": [
          "Content Creator",
          "Programming Enthusiast",
          "Guitar Player",
          "Philosophy Enthusiast"
        ],
        "description": "I'm a content creator who loves programming, cats, guitars, pickles, and philosophy. My content focuses on the intersection of technology, creativity, and everyday life, often featuring my cat's unsolicited code reviews and pickle-powered debugging sessions.",
        "knowsLanguage": ["English", "Spanish"],
        "mainEntityOfPage": {
          "@type": "WebSite",
          "@id": "https://www.dotdager.com/"
        }
      }
    </script>

    <title><%= pageTitle %></title>
  </head>
</html>
