<!-- Header
		============================================= -->
<header
  id="header"
  class="responsive-sticky-header transparent-header dark header-size-sm"
  data-sticky-shrink="true"
  data-mobile-sticky="true"
>
  <div id="header-wrap">
    <div class="container">
      <div class="header-row justify-content-lg-between">
        <div class="primary-menu-trigger">
          <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
            <span class="cnvs-hamburger-box"
              ><span class="cnvs-hamburger-inner"></span
            ></span>
          </button>
        </div>
        <a
          class="idioma-celu displayCelu fw-bold font-primary text-uppercase text-white mt-2"
          type="button"
          href="/change-language/<%= currentLocale === 'en' ? 'es' : 'en' %>"
        >
          <%= currentLocale === 'en' ? 'Español' : 'English' %>
        </a>

        <!-- Primary Navigation
                          ============================================= -->
        <nav class="primary-menu">
          <ul
            class="menu-container one-page-menu"
            data-easing="easeInOutExpo"
            data-speed="1250"
            data-offset="160"
          >
            <li class="menu-item">
              <a
                class="menu-link ls-1 text-uppercase"
                href="#"
                data-href="#fotis"
                ><div>Fotis</div></a
              >
            </li>
            <li class="menu-item">
              <a
                class="menu-link ls-1 text-uppercase"
                href="#"
                data-href="#acerca-de-mi"
                ><div>Acerca de mi</div></a
              >
            </li>

            <li class="menu-item">
              <a
                class="menu-link ls-1 text-uppercase boton-contacto"
                href="#"
                data-href="#contacto"
                ><div>Contacto</div></a
              >
            </li>
          </ul>
        </nav>
        <!-- #primary-menu end -->

        <!-- Primary Navigation
============================================= -->
        <nav class="primary-menu">
          <ul class="menu-container header-button">
            <li class="menu-item displayPc">
              <a
                href="/change-language/<%= currentLocale === 'en' ? 'es' : 'en' %>"
                class="button ls-1 text-uppercase fw-semibold button-effect ml-2"
              >
                <%= currentLocale === 'en' ? 'Español' : 'English' %>
              </a>
            </li>
          </ul>
        </nav>
        <!-- #primary-menu end -->
      </div>
    </div>
  </div>
</header>
<!-- #header end -->
