<div
  class="mx-auto col-lg-6 col-sm-12 parallax"
  data-0="transform: translateY(0px); opacity: 1"
  data-300="transform: translateY(100px); opacity: 0"
>
  <h1 data-value="DOT DAGER">DOT DAGER</h1>
  <p class="text-center display-6 fw-bold font-primary">
    <span
      class="text-rotater nocolor"
      data-separator="|"
      data-rotate="fadeIn"
      data-speed="60"
      data-backdelay="1800"
      data-typed="true"
      data-shuffle="true"
      data-loop="true"
    >
      <!-- prettier-ignore -->
      <span class="t-rotate"> 
        Content Creator|Programming Enthusiast|Guitar Player|Philosophy Lover|Cat Whisperer|Pickle Connoisseur
      </span>
    </span>
  </p>
  <div class="redes-sociales text-center display-6 fw-bold">
    <a
      href="https://www.youtube.com/@DagerClips"
      target="_blank"
      title="YouTube Clips"
      ><i class="fab fa-youtube"></i
    ></a>
    <a
      href="https://www.youtube.com/@ElAntroDeDager"
      target="_blank"
      title="YouTube Philosophy"
      ><i class="fab fa-youtube"></i
    ></a>
    <a
      href="https://www.youtube.com/@DagerMusic"
      target="_blank"
      title="YouTube Music"
      ><i class="fab fa-youtube"></i
    ></a>
    <a href="https://www.twitch.tv/dagerxiv" target="_blank" title="Twitch"
      ><i class="fab fa-twitch"></i
    ></a>
    <a href="https://discord.gg/discord" target="_blank" title="Discord"
      ><i class="fab fa-discord"></i
    ></a>
    <a
      href="https://www.instagram.com/dager.32"
      target="_blank"
      title="Instagram"
      ><i class="fab fa-instagram"></i
    ></a>
  </div>
</div>
