<div
  class="col-lg-6 col-sm-12 parallax"
  data-0="transform: translateY(0px); opacity: 1"
  data-300="transform: translateY(100px); opacity: 0"
>
  <h1 data-value="GASTÓN_GRACIS">GASTÓN_GRACIS</h1>
  <p class="text-center display-6 fw-bold font-primary">
    <span
      class="text-rotater nocolor"
      data-separator="|"
      data-rotate="fadeIn"
      data-speed="60"
      data-backdelay="1800"
      data-typed="true"
      data-shuffle="true"
      data-loop="true"
    >
      <!-- prettier-ignore -->
      <span class="t-rotate"> 
      Desarrollador web|Creativo|Desarrollador Frontend|Diferente|Diseñador UX/UI|Diseñador multimedial|Analista SEO|Desarrollador Full Stack|Desarrollador WordPress
    </span>
    </span>
  </p>
  <div class="redes-sociales text-center display-6 fw-bold">
    <a
      href="https://www.linkedin.com/in/gastongracis/"
      target="_blank"
      title="LinkedIn"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a href="https://github.com/ggracis/" target="_blank" title="GitHub"
      ><i class="fab fa-github"></i
    ></a>
    <a
      href="https://www.instagram.com/gaston.gracis/"
      target="_blank"
      title="Instagram"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="mailto:gastongracis@gmail.com?subject=Hola%20Gastón!" title="Email"
      ><i class="far fa-envelope"></i
    ></a>
    <a
      href="https://api.whatsapp.com/send?phone=5491154184271&text=Hola%20Gastón!"
      target="_blank"
      title="WhatsApp"
      ><i class="fab fa-whatsapp"></i
    ></a>
    <a
      href="https://t.me/Tonga87AR?start=Hola%20Gastón!"
      target="_blank"
      title="Telegram"
      ><i class="fab fa-telegram"></i
    ></a>
  </div>
</div>
