<div id="proyectos" class="section page-section bg-transparent m-0 p-0">
  <!-- Proyectos Sub Menu
                        ============================================= -->
  <div id="page-menu" class="no-sticky">
    <div id="page-menu-wrap" class="pt-3 pb-4">
      <div class="container">
        <div class="page-menu-row">
          <div class="page-menu-title">
            <span class="display-4 fw-bold gradient-underline">Projects</span>
          </div>

          <nav class="page-menu-nav">
            <ul
              class="page-menu-container custom-filter"
              data-container="#portfolio"
              data-active-class="current"
            >
              <li class="page-menu-item current">
                <a href="#" data-filter="*"><div>All</div></a>
              </li>
              <li class="page-menu-item">
                <a href="#" data-filter=".desarrollo"><div>Development</div></a>
              </li>
              <li class="page-menu-item">
                <a href="#" data-filter=".frontend"><div>Frontend</div></a>
              </li>
              <li class="page-menu-item">
                <a href="#" data-filter=".wordpress"><div>WordPress</div></a>
              </li>
              <li class="page-menu-item">
                <a href="#" data-filter=".grafico"><div>Graphic design</div></a>
              </li>

              <li class="page-menu-item">
                <a href="#" data-filter=".multimedia"><div>Multimedia</div></a>
              </li>
            </ul>
          </nav>

          <div id="page-menu-trigger"><i class="bi-list"></i></div>
        </div>
      </div>
    </div>
  </div>
  <!-- #Proyectos sub menu fin -->

  <!-- Proyectos contenido
                        ============================================= -->
  <section id="content">
    <div class="content-wrap py-0">
      <!-- Portfolio Items
                              ============================================= -->
      <div id="portfolio" class="portfolio row grid-container g-0 text-center">
        <!-- Portfolio Item: Start -->

        <!-- libres -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 wordpress"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img src="images/proyectos/libres/1.jpg" alt="Libres" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Libres Biocosmética</h3>
                    <span> WordPress - WooCommerce </span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/libres/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Libres Biocosmética: WordPress - WooCommerce"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      href="images/proyectos/libres/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/libres/3.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/libres/4.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://libresbiocosmetica.com.ar/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- chopin -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 frontend desarrollo"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img src="images/proyectos/chopin/1.jpg" alt="Chopin" />
                    </div>
                    <div class="slide">
                      <img src="images/proyectos/chopin/2.jpg" alt="Chopin" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Chopin</h3>
                    <span
                      >Tienda online en ReactJS+Vite + Chakra UI +
                      Firebase</span
                    >
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/chopin/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Chopin<br/><span>ReactJS+Vite + Chakra UI + Firebase</span>"
                      ><i class="uil uil-images" title="Chopin"></i
                    ></a>
                    <a
                      href="images/proyectos/chopin/2.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/chopin/3.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/chopin/4.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://chopin-lyart.vercel.app/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- sello -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 wordpress grafico"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img src="images/proyectos/sello/1.jpg" alt="sello" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Sello CAME Sustentable</h3>
                    <span> WordPress </span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/sello/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Sello CAME Sustentable - WordPress + Landing Pages"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      href="images/proyectos/sello/2.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/sello/3.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/sello/4.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://www.camesustentable.com.ar/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- RSDS22 -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 frontend desarrollo grafico multimedia"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/rsds22/1.jpg"
                        alt="Reporte de gestión social y ambiental 2022"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Reporte de gestión social y ambiental 2022</h3>
                    <span>Desarrollo web + Diseño gráfico y multimedial</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/rsds22/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Responsabilidad Social y Desarrollo Sustentable (CAME) - Reporte de gestión social y ambiental - Desarrollo web + Diseño gráfico y multimedial"
                      ><i class="uil uil-images"></i
                    ></a>
                    <a
                      href="images/proyectos/rsds22/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://came.org.ar/sustentabilidad2022/"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- 12 -->

        <!-- af rev -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 grafico multimedia"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/af/r2.jpg"
                        alt="AltFuels Magazine"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>AltFuels Magazine</h3>
                    <span
                      >Revista de noticias con contenido multimedia -
                      InDesign</span
                    >
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/af/r1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="AltFuels Magazine - Revista de noticias - InDesign"
                      ><i class="uil uil-images"></i
                    ></a>
                    <a
                      href="images/proyectos/af/r2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://altfuelscg.com/es/revistas/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- bell vilage -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 desarrollo"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/bellvilage/1.jpg"
                        alt="Bell Vilage"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Bell Vilage</h3>
                    <span>Desarrollo WordPress - UX</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/bellvilage/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Bell Vilage - Desarrollo WordPress - UX"
                      ><i class="uil uil-images"></i
                    ></a>
                    <a
                      href="images/proyectos/bellvilage/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://belvillage.com/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- af -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 wordpress desarrollo multimedia"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img src="images/proyectos/af/2.jpg" alt="AltFuels CG" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>AltFuels CG</h3>
                    <span> WordPress - Desarrollo WP</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/af/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="AltFuels CG - WordPress - Desarrollo WP"
                      ><i class="uil uil-images"></i
                    ></a>
                    <a
                      href="images/proyectos/af/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="http://altfuelscg.com/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- af perú -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 wordpress desarrollo"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/afperu/1.jpg"
                        alt="AltFuels Perú 2023"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>AltFuels Perú 2023</h3>
                    <span>WordPress + Desarrollo web</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/afperu/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="AltFuels Perú 2023 - WordPress + Desarrollo web"
                      ><i class="uil uil-images"></i
                    ></a>
                    <a
                      href="images/proyectos/afperu/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://altfuelsperu.com/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- 12 -->

        <!-- goodpark -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 desarrollo"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/goodpark/1.jpg"
                        alt="Goodpark"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Good Park</h3>
                    <span>Desarrollo web</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/goodpark/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Goodpark - Desarrollo web"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      href="images/proyectos/goodpark/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/goodpark/3.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://www.goodpark.com.ar/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- mccartney -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 wordpress desarrollo"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/mccartney/1.jpg"
                        alt="McCartney"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Lencería McCartney</h3>
                    <span>WordPress + WooCommerce + Desarrollo WordPress</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/mccartney/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Lencería McCartney - WordPress + WooCommerce + Desarrollo WordPress"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      href="images/proyectos/mccartney/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://www.lenceriamccartney.com.ar/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- er -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 desarrollo frontend"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/er/1.jpg"
                        alt="Economías Regionales"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Economías Regionales CAME: Reseña 2019</h3>
                    <span> Desarrollo web </span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/er/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Economías Regionales CAME: Reseña 2019 - Desarrollo web"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      title="ER"
                      href="images/proyectos/er/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      title="ER"
                      href="images/proyectos/er/3.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="http://came.org.ar/eerr2019/index.html"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- 12 -->

        <!-- postularme -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 frontend"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/postularme/1.jpg"
                        alt="Postularme"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Postularme</h3>
                    <span>Desarrollo web</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/postularme/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Postularme"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      href="https://www.postularme.com.ar/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- prontoaccess -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 wordpress"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/prontoaccess/1.jpg"
                        alt="ProntoAccess"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>ProntoAccess</h3>
                    <span> WordPress - Diseño multimedial </span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/prontoaccess/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Prontoaccess - Desarrollo web - Diseño multimedial"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      href="images/proyectos/prontoaccess/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/prontoaccess/3.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://prontoaccess.com/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- Secin -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 wordpress"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img src="images/proyectos/secin/1.jpg" alt="Secin" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Secin</h3>
                    <span> WordPress </span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/secin/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Secin - WordPress"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      href="images/proyectos/secin/2.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/secin/3.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://www.secin.com.ar/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- SOHO -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 wordpress desarrollo"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a
                        href="images/proyectos/soho/1.jpg"
                        data-lightbox="gallery-item"
                      >
                        <img src="images/proyectos/soho/1.jpg" alt="SOHO" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>SOHO City</h3>
                    <span>WordPress + Desarrollo Web</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/soho/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="SOHO"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      href="images/proyectos/soho/2.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                      title="SOHO"
                    ></a>
                    <a
                      href="images/proyectos/soho/3.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                      title="SOHO"
                    ></a>
                    <a
                      href="images/proyectos/soho/4.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                      title="SOHO"
                    ></a>
                    <a
                      href="portfolio-single.html"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- 12 -->

        <!-- SOS Contador -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 frontend"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a
                        href="images/proyectos/sos/1.jpg"
                        data-lightbox="gallery-item"
                      >
                        <img
                          src="images/proyectos/sos/1.jpg"
                          alt="SOS Contador"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>SOS Contador</h3>
                    <span>Desarrollo web - Frontend</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/sos/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="SOS Contador - Desarrollo web - Frontend"
                      ><i class="uil uil-images"></i
                    ></a>
                    <a
                      href="images/proyectos/sos/2.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/sos/3.jpg"
                      class="overlay-trigger-icon bg-light text-dark d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://sos-contador.com/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- camecultura -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 frontend desarrollo"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/camecultura/1.jpg"
                        alt="Premio CAME Cultura"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Premio CAME Cultura</h3>
                    <span>Desarrollo web - Frontend</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/camecultura/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Premio CAME Cultura - Desarrollo web - Frontend"
                      ><i class="uil uil-images"></i
                    ></a>

                    <a
                      href="https://came.ar/premiocultura/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- er revista -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 grafico"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/er_revista/1.jpg"
                        alt="Economías Regionales CAME - Reseña 2018"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Economías Regionales CAME - Reseña 2018</h3>
                    <span> Diseño gráfico - InDesign </span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/er_revista/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Economías Regionales CAME - Reseña 2018 - Diseño gráfico - InDesign"
                    >
                      <i class="uil uil-images"></i>
                    </a>
                    <a
                      href="images/proyectos/er_revista/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://www.redcame.org.ar/revista/ampliada/60"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                    >
                      <i class="uil uil-link"></i>
                    </a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- RSDS19 -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 grafico"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a href="images/proyectos/rsds19/1.jpg">
                        <img
                          src="images/proyectos/rsds19/1.jpg"
                          alt="Reporte de Gestión Social y Ambiental 2019"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Reporte de Gestión Social y Ambiental 2019</h3>
                    <span>Diseño gráfico - InDesign</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/rsds19/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Reporte de Gestión Social y Ambiental 2019 - Diseño gráfico - InDesign"
                      ><i class="uil uil-images"></i
                    ></a>
                    <a
                      href="images/proyectos/rsds19/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://www.redcame.org.ar/revista/ampliada/69"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>

        <!-- Usina -->
        <article
          class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-6 frontend"
        >
          <div class="grid-inner">
            <div class="portfolio-image">
              <div
                class="fslider"
                data-arrows="false"
                data-speed="400"
                data-pause="4000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <img
                        src="images/proyectos/usina/1.jpg"
                        alt="Usina Data Services"
                        title="Usina Data Services"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-overlay" data-lightbox="gallery">
                <div
                  class="bg-overlay-content dark flex-column"
                  data-hover-animate="fadeIn"
                >
                  <div
                    class="portfolio-desc pt-0"
                    data-hover-animate="fadeInDownSmall"
                    data-hover-animate-out="fadeOutUpSmall"
                    data-hover-speed="350"
                  >
                    <h3>Usina Data Services</h3>
                    <span>Desarrollo web - Frontend</span>
                  </div>
                  <div class="d-flex">
                    <a
                      href="images/proyectos/usina/1.jpg"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      data-lightbox="gallery-item"
                      title="Usina Data Services - Desarrollo web - Frontend"
                      ><i class="uil uil-images"></i
                    ></a>
                    <a
                      href="images/proyectos/usina/2.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="images/proyectos/usina/3.jpg"
                      class="d-none"
                      data-lightbox="gallery-item"
                    ></a>
                    <a
                      href="https://ggracis.github.io/usina/"
                      target="_blank"
                      class="overlay-trigger-icon bg-light text-dark"
                      data-hover-animate="fadeInUpSmall"
                      data-hover-animate-out="fadeOutDownSmall"
                      data-hover-speed="350"
                      ><i class="uil uil-link"></i
                    ></a>
                  </div>
                </div>
                <div
                  class="bg-overlay-bg dark"
                  data-hover-animate="fadeIn"
                ></div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <!-- #portfolio end -->
    </div>
  </section>
  <!-- #Proyectos contenido fin -->
</div>
