<!-- Remate
				============================================= -->
<div
  id="remate-proyectos"
  class="section page-section bg-transparent pt-0 mt-6 mb-0 pb-4"
>
  <div class="container">
    <div
      class="mx-auto schedule-wrap text-center dark rounded shadow-lg"
      style="max-width: 1050px; background-color: #000"
    >
      <h3 class="gradient-text">
        Como veras, soy una persona curiosa y me encanta aprender cosas nuevas
        todo el tiempo.
      </h3>
      <p class="mx-auto" style="max-width: 600px">
        ¿Tenes algún proyecto en el que pueda sumarme? <br />¡Sería genial
        charlar sobre cómo puedo aportar en tu equipo!
      </p>
      <a
        href="#"
        data-href="#contacto"
        class="boton-contacto button ls-1 text-uppercase fw-semibold button-xlarge button-white button-gradient mt-4"
        >Charlemos</a
      >
    </div>
  </div>
  <div
    class="dotted-bg"
    style="
      background: url('/demos/conference/images/dotted-bg.svg') repeat center
        center / contain;
      min-height: 25%;
      top: 90%;
      right: 0;
      left: auto;
      width: 50%;
    "
  ></div>
</div>
<!-- #Remate fin -->
