<!-- Remate
				============================================= -->
<div
  id="remate-proyectos"
  class="section page-section bg-transparent pt-0 mt-6 mb-0 pb-4"
>
  <div class="container">
    <div
      class="mx-auto schedule-wrap text-center dark rounded shadow-lg"
      style="max-width: 1050px; background-color: #000"
    >
      <h3 class="gradient-text">Do you have an idea? Let's talk</h3>
      <p class="mx-auto" style="max-width: 600px">
        Are you looking for someone who can help grow your project?
        <br />I'm that person!<br />
      </p>

      <div class="form-widget" data-loader="button">
        <div class="row">
          <form id="form-contacto" method="POST" action="/contact">
            <div class="col-12 form-group">
              <input
                type="text"
                name="name"
                id="name"
                class="form-control required form-control-md not-dark"
                value=""
                placeholder="Name*"
                required="required"
              />
            </div>
            <div class="col-12 form-group">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control required form-control-md not-dark"
                value=""
                placeholder="Email*"
                required="required"
              />
            </div>
            <div class="col-12 form-group">
              <textarea
                id="message"
                name="message"
                class="form-control form-control-md not-dark"
                placeholder="Write your comments here"
                required="required"
              ></textarea>
            </div>
            <div class="col-12 form-group mb-0">
              <div class="form-result" id="form-result"></div>
              <button
                type="submit"
                id="send-form"
                name="send-form"
                class="botonEnviarForm button text-uppercase fw-semibold button-xlarge button-white button-gradient m-0"
              >
                Let's get in touch
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="dotted-bg"
    style="
      background: url('/images/dotted-bg.svg') repeat center center / contain;
      min-height: 25%;
      top: 90%;
      right: 0;
      left: auto;
      width: 50%;
    "
  ></div>
</div>
<!-- #Remate end -->
