<!-- Carrousel de skills
            ============================================= -->
<div
  id="oc-skills"
  class="owl-carousel owl-carousel-full image-carousel carousel-widget owl-loaded owl-drag text-white-50"
  data-margin="30"
  data-loop="true"
  data-nav="false"
  data-autoplay="5000"
  data-pagi="false"
  data-items-xs="4"
  data-items-sm="5"
  data-items-md="6"
  data-items-lg="7"
  data-items-xl="8"
  style="padding: 30px 0"
>
  <div class="owl-stage-outer">
    <div
      class="owl-stage"
      style="
        transform: translate3d(-2485px, 0px, 0px);
        transition: all 0.25s ease 0s;
        width: 7733px;
      "
    >
      <div class="owl-item">
        <div class="oc-item text-center">
          <i class="fab fa-github display-2" title="Git"></i>
          <h5 class="text-white-50">Git</h5>
        </div>
      </div>
      <div class="owl-item">
        <div class="oc-item text-center">
          <i class="fab fa-react display-2" title="ReactJS"></i>
          <h5 class="text-white-50">ReactJS</h5>
        </div>
      </div>
      <div class="owl-item">
        <div class="oc-item text-center">
          <i class="fas fa-cat display-2" title="Cat Whisperer"></i>
          <h5 class="text-white-50">Susurrador de Gatos</h5>
        </div>
      </div>
      <div class="owl-item">
        <div class="oc-item text-center">
          <i
            class="fa-solid fa-pepper-hot display-2"
            title="Conocedor de Pepinos"
          ></i>
          <h5 class="text-white-50">Conocedor de Pepinos</h5>
        </div>
      </div>
      <div class="owl-item">
        <div class="oc-item text-center">
          <i class="fab fa-html5 display-2" title="HTML5"></i>
          <h5 class="text-white-50">HTML5</h5>
        </div>
      </div>
      <div class="owl-item">
        <div class="oc-item text-center">
          <i class="fab fa-css3-alt display-2" title="CSS3"></i>
          <h5 class="text-white-50">CSS3</h5>
        </div>
      </div>
      <div class="owl-item">
        <div class="oc-item text-center">
          <i class="fab fa-js display-2" title="JavaScript"></i>
          <h5 class="text-white-50">JavaScript</h5>
        </div>
      </div>
      <div class="owl-item">
        <div class="oc-item text-center">
          <i class="fab fa-php display-2" title="PHP"></i>
          <h5 class="text-white-50">PHP</h5>
        </div>
      </div>
      <div class="owl-item">
        <div class="oc-item text-center">
          <i class="fas fa-code display-2" title="COBOL"></i>
          <h5 class="text-white-50">COBOL</h5>
        </div>
      </div>
      <div class="owl-item">
        <div class="oc-item text-center">
          <i class="fas fa-terminal display-2" title="BASIC"></i>
          <h5 class="text-white-50">BASIC</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- #Carrousel de skills fin -->
