<%- include ("partials/head", {pageTitle: "Dot Dager 🥒"}) %>

<body class="stretched">
  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper">
    <!-- Contenido
		============================================= -->
    <section id="content" style="background-color: #000">
      <div class="content-wrap pt-0" style="overflow: visible">
        <!-- Acerca de mí
				============================================= -->
        <div
          id="acerca-de-mi"
          class="section page-section bg-transparent pt-0 mb-0"
        >
          <div class="container">
            <div class="mb-5 dark mt-5 pt-5">
              <span class="display-5 fw-bold gradient-underline font-primary">
                No hay nada aca - 404 <br />
                There is nothing here - 404
              </span>
            </div>

            <div class="clear"></div>

            <div class="row justify-content-around dark mb-4">
              <div class="col-lg-6 col-md-4 col-sm-12 text-center">
                <h4 class="font-body ls-3 text-uppercase">
                  En su lugar te ofrezco ir a mi portfolio <br />
                  Instead, I offer you to go to my portfolio.
                </h4>
                <button
                  class="button ls-1 text-uppercase fw-semibold button-xlarge button-white button-gradient mt-4"
                  onclick="window.location.href = '/';"
                >
                  Ir al portfolio / Go to portfolio
                </button>

                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- #Acerca de mí fin -->
      </div>
    </section>
    <!-- #content end -->
    <%- include ("partials/footer") %>
  </div>
</body>
