<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumberjack Game</title>
  </head>
  <body>
    <h1>¡Bienvenido a Lumberjack!</h1>
    <iframe
      src="https://tbot.xyz/lumber/"
      width="100%"
      height="800"
      frameborder="0"
      style="min-height: 800px"
    ></iframe>
  </body>
</html>
